.csc-settings-container {
    margin: 0 auto;
    width: 700px;
    height: 570px;
    background: white;
    border-radius: 3px;
    margin-top: 70px;
    box-shadow: 0px 0px 2px 0px #00000052;
}

.csc-settings-boxes {
    margin: 0 auto;
    width: 700px;
    height: 55px;
    background: white;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px #00000052;
}

.csc-settings-boxes div {
    margin-left: 40px;
    margin-top: 10px;
    color: #a7a7a7;
    float:left;
}

.csc-settings-boxes div a {
    color: #157EFB;
    text-decoration: none;
    font-weight: bold;
}

.csc-settings-title {
    width: 100%;
    height: 70px;
    background: #157efb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.csc-settings-title div {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 25px;
    text-align: center;
}

.csc-settings-main {
    width: 100%;
}

.csc-settings-inputtitle {
    font-size: 20px;
    color: #a7a7a7;
    margin: 35px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}

.csc-settings-inputs {
    text-align: center;
}

.csc-settings-inputs .csc-text-input input {
    padding: 10px;
    margin: 10px;
    width: 90%;
    text-align: center;
    border: 0px;
    background: #f1f1f1;
    border-radius: 1px !important;
    font-size: 20px;
    letter-spacing: 10px;
}

#csc_storename, #woocommerce_store_phone, #woocommerce_store_email {
    letter-spacing: 2px;
}

.col1 {
    text-align: left;
    width: 40%;
    float: left;
    margin-left: 35px;
}

.col2 {
    text-align: right;
    width: 40%;
    float: right;
    margin-right: 35px;
    padding-top: 7px;
}

.col1 input[type="submit"] {
    padding: 10px;
    background: #157efb;
    border: 1px solid #157efb;
    border-radius: 2px;
    color: white;
}

.connected {
    background: #157efb;
    width: 10px;
    height: 10px;
    float: right;
    margin-left: 7px;
    border-radius: 50px;
    margin-top: 5px;
}

.csc-boxsizes {
    margin: 0 auto;
    padding: 10px;
    width: 1040px;
}

.csc-box-title {
    width: 100%;
    height: 70px;
    background: #157efb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.csc-box-title div {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 25px;
    text-align: center;
}

.csc-box-content {
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

table#coolrunner-box-sizes-table input[type="text"], table#coolrunner-box-sizes-table input[type="number"] {
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    font-size: 13px;
}

button.button.button-primary.csc {
    background: #157efb !important;
    border-color: #157efb !important;
}

input[type=radio]:checked::before {
    background-color: #157efb !important;
}

button.button.csc-nonprim {
    color: #157efb;
    border-color: #157efb;
}

.cscback {
    position: absolute;
    padding: 10px;
    background: #157efb;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding-top: 7px;
    border-radius: 3px;
    font-size: 15px;
}

div#csc-shipment-information {
    background: #f8f8f8;
    border: 1px solid #ccd0d4;
    margin-left: -5px;
    float: left;
    border-radius: 2px;
}

.csc-shipment-header {
    background: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.csc-shipment-header .col1 {
    float: left;
    width: 45%;
    margin-left: 5px;
}

.csc-shipment-header .col2 {
    float: right;
    width: 45%;
    margin-right: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

.csc-shipment-header h3 {
    padding-top: 5px !important;
    margin-top: 0px !important;
}

.csc-shiporder button {
    border-radius: 3px;
    background: #007cba;
    border: 1px solid #007cba;
    color: white;
    padding: 5px;
}

.csc-shipment-body {
    float: left;
    width: 100%;
}

.csc-shipment-line {
    width: 100%;
    float: left;
    background: white;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

.csc-shipment-image {
    float: left;
    width: 55px;
    height: 55px;
    text-align: center;
    margin-right: 10px;
}

.csc-shipment-image img {
    margin-top: 10px;
}

.csc-shipment-data {
    float: left;
    font-size: .92em!important;
    color: #888;
    margin-top: 4px;
    width: 220px;
}

.csc-shipment-price {
    float: right;
    font-size: .92em!important;
    color: #888;
    margin-top: 4px;
    text-align: right;
    margin-right: 5px;
}

.printlabel {
    cursor: pointer;
}

.csc-shipment-data a {
    text-decoration: none !important;
}
.csc-shipment-line.box-sizes {
    padding-top: 0px;
    padding-bottom: 10px;
}

.csc-shipment-line.box-sizes div {
    float: left;
    width: 48%;
    margin-left: 5px;
    margin-bottom: 5px;
}

.csc-shipment-line.box-sizes div input {
    width: 150px;
    float: right;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ccd0d4;
}

.csc-shipment-line.box-sizes label {
    margin-top: 5px;
    float: left;
}

.selectbox-fullwidth {
    width: 100% !important;
    float: left;
    margin-left: 0px !important;
}

.selectbox-fullwidth select {
    width: 100%;
    border: 0px solid gray;
    border-radius: 0px;
    font-size: 13px;
    margin-left: 0px;
    background: #f1f1f1;
}

.csc-status {
    display: -webkit-inline-box;
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    cursor: inherit!important;
    white-space: nowrap;
    max-width: 100%;
}

select#csc_warehouse, select#csc_pcn_auto {
    width: 90%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px;
    border: 1px solid #f1f1f1;
    text-align: center !important;
}

.tracking_package {
    margin-bottom: 20px;
}

.tracking_number {
    font-weight: bold;
    color: #007cba;
    padding-bottom: 10px;
    border-bottom: 2px solid #dfdfdf;
}

.tracking_event {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
    background: #f8f8f8;
    border-bottom: 1px solid #dfdfdf;
}

.tracking_event_time {
    color: #007cba;
}

mark.order-status.status-completed.coolrunner {
    background: #157efb;
    color: white;
}

mark.order-status.on-hold.coolrunner {
    background: #e5e5e5;
    color: #777;
}
